hr {
  height: 30px;
  background-color: black;
  margin: 20px 0;
}

.hard-mode * {
  font-size: 30px;
  font-family: 'Open-Sans', sans-serif;
  background-color: lightgreen;
}


.container {
  display: block;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  padding: 0;

}

.row {
  display: block;
  height: 20%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clear-block {
  display: inline-block;
  width: 25%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

.answer-block {
  display: inline-block;
  text-align: right;
  width: 70%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 15px 0;
}

.calculator-block {
  width: 23%;
  display: inline-block;
  text-align: center;
}

