hr {
  height: 30px;
  background-color: black;
  margin: 20px 0;
}

.hard-mode * {
  font-size: 30px;
  font-family: 'Open-Sans', sans-serif;
  background-color: lightgreen;
}


.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 0;
}

.clear-block {
  display: inline-block;
  text-align: center;
  padding: 30px 35px;
  border: 1px solid black;
}

.answerblock {
  display: inline-block;
  text-align: right;
  padding-left: 180px;
  border: 1px solid black;
}

.calculator-block {
 display: inline-block;
text-align: center;
 padding: 30px 35px;
 border: 1px solid black;
}

